$white: #FFFFFF;
$black: #000000;
$border: #EFEFED;
$concrete: #F2F2F2;
$link: #0DD3BB;
$draft: #C77C77;
$text-light: #949494;
$nightmode-dark: #2C2C2C;
$md-gray: #353535;
$nightmode-light: #CCCCCC;
$modmail: #F7F3D5;
$modmail-night: #656357;