<div class="yair-body">
	<div class="yair-sidebar-panel">
			<div class="yair-sidebar-menu">	
				<div class="yair-sidebar-title">
					<div class="title-message"><a href="/message/yair_inbox">YAIR</a></div>
					<div class="new-message">
						<a href="/message/compose" class="icon msg-icon"></a>
					</div>
				</div>
				<div class="yair-sidebar-nav inbox">
					<a href="/message/yair_inbox" class="nav-item yair-inbox yair-link">
						<div class="icon icon-inbox"></div>
						<div class="title">Inbox</div>
					</a>
					<a href="/message/yair_drafts" class="nav-item yair-drafts yair-link">
						<div class="icon icon-drafts"></div>
						<div class="title">Drafts</div>
					</a>
					<a href="/message/yair_saved" class="nav-item yair-saved yair-link">
						<div class="icon icon-saved"></div>
						<div class="title">Saved</div>
					</a>
					<a href="/message/yair_archived" class="nav-item yair-archived yair-link">
						<div class="icon icon-archive"></div>
						<div class="title">Archived</div>
					</a>
				</div>
				<div class="yair-sidebar-nav modmail yair-modmail yair-hide">
					<h4 class="yair-sidebar-label">Modmail</h4>
					<a href="/message/yair_modmail" class="nav-item modmail-inbox yair-link">
						<div class="icon icon-modmail"></div>
						<div class="title">Inbox</div>
					</a>
					<a href="/message/yair_moddrafts" class="nav-item modmail yair-drafts yair-link">
						<div class="icon icon-drafts"></div>
						<div class="title">Drafts</div>
					</a>
					<a href="/message/yair_modsaved" class="nav-item modmail yair-saved yair-link">
						<div class="icon icon-saved"></div>
						<div class="title">Saved</div>
					</a>
					<a href="/message/yair_modarchived" class="nav-item modmail yair-archived yair-link">
						<div class="icon icon-archive"></div>
						<div class="title">Archived</div>
					</a>
				</div>


				<div class="yair-sidebar-options yair-hide">
					<h4 class="yair-sidebar-label">Bulk Message Options</h4>
					<div id="YAIRBulkDelete" class="options-item">
						<div class="icon icon-archive"></div>
						Archive
					</div>

					<div id="YAIRBulkRestore" class="options-item">
						<div class="icon icon-restore"></div>
						Restore
					</div>

					<div id="YAIRBulkMarkRead" class="options-item">
						<div class="icon icon-markRead"></div>
						Mark Selected Unread
					</div>

					<div id="YAIRBulkMarkUnread" class="options-item">
						<div class="icon icon-markUnread"></div>
						Mark Selected Read
					</div>
				</div>
			</div>
			<div class="yair-sidebar-footer">
				<div id="YAIRShowConfig">
					<div class="icon icon-config"></div>
					Settings
				</div>
			</div>
	</div>
	<div class="yair-main-panel">
		<div class="yair-header-panel">
			<div class="yair-search-panel">
				<div class="yair-search-container">
					<!-- Input and search button -->
					<input type="text" id="YAIRSearchInput"></div>
				<button id="YAIRSearchButton">Search</button>
			</div>
			<div class="yair-select-all-toggle">
				<input class="styled-checkbox" id="select-all" type="checkbox">
				<label for="select-all">Select All</label>
			</div>
		</div>
		<div class="yair-inbox-panel">
			<!-- Checkbox, Correspondent, Title, Text, Date/Time -->
		</div>
		<div style="height:8px"></div>
	</div>
</div>