<div class="yair-message-row yair-link">
	<div class="yair-message-row-control">
		<div class="yair-checkbox">
			<input class="styled-checkbox" id="{checkboxid}" type="checkbox">
			<label for="{checkboxid}"></label>
		</div>
		<div class="icon yair-last-author"></div>
		<div class="icon yair-save-toggle"></div>
	</div>
	<div class="yair-mrc-wrapper">
		<div class="yair-message-row-content">
			<div class="yair-subject-line">
				<div class="yair-subject-left">
				    <span class="yair-correspondent"></span>
				    <span class="yair-seperator">&bull; </span>
				    <span class="yair-subject"></span>
				</div>
				<div class="yair-subject-right">
					<div class="yair-datetime"></div>
					<div class="yair-message-buttons">
						<button class="icon icon-archive"></button>
						<button class="icon icon-restore"></button>
						<button class="icon icon-markRead"></button>
						<button class="icon icon-markUnread"></button>
					</div>
				</div>
			</div>
			<div class="yair-subject-text">
				<div class="yair-text"></div>
			</div>
		</div>
	</div>
</div>