<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script src="../../js/content-inbox/jquery-3.4.1.min.js"></script>
	<script src="../../js/notifications/moment-2.24.0.min.js"></script>
	<script src="../../js/content-inbox/luxon.min.js"></script>
	<script src="../../js/notifications/fetch.js"></script>
	<link rel="stylesheet" href="../../css/notifications.css" type="text/css" />
</head>

<body class="popup">
	<div id="control" class="group">
		<p>Notifications</p>
		<i class="forceRefresh" title="Refresh">&#8203;</i>
	</div>
	<div id="notifications">
		<div class="no-notifications">
			<h4>No notifications</h4>
		</div>
	</div>
</body>

</html>